/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.total-body {
    margin: 10px 90px;
}

.head-div {
    text-align: center;
    background-color: rgb(255, 254, 254);
    color: rgb(8, 93, 124);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.font-page {
    display: flex;
    width: 1321px;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 10px;

}

.introduction {
    position: absolute;
    width: 531px;
    height: 424px;
    padding-left: 106px;
    padding-top: 111px;
    padding-bottom: 111px;
    margin: 0;
}

#Front-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: white;
}

.paragraph {
    color: white;

}

.live {
    background-color: rgb(13, 53, 77);
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .85s;
}

.live:hover {
    padding: 30px 40px;
    background-color: rgb(24, 98, 143);
    font-size: 1.3em;
}

.fa-play {
    padding-left: 5px;
}

#player img {
    position: absolute;
    height: 613px;
    left: 801px;
    margin-top: 33px;
}


.page-2 {
    margin-top: 130px;

}

.menu-match {
    display: flex;
    padding: 0;
    margin: 0;

}

.fixed-menu {
    padding: 20px 30px;
    background-color: #161616;
    border-radius: 10px;
    height: 260px;
    width: 260px;


}

.menu-button {
    background-color: rgb(13, 53, 77);
    color: white;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin: 10px;
}

#selected-menu {
    background-color: rgba(193, 193, 128, 0.614);
}

.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 20px;
}

.match {
    border: .5px solid rgb(168, 167, 167);
    border-radius: 10px;
}

#Tr-button {
    height: 32px;
    width: 100px;
    border-radius: 10px;
}

.match-info {
    padding: 15px;
    max-width: 280px;
    max-height: 300px;
}

.info-2 {
    display: flex;

}

#hr-comment {
    color: gray;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    margin: 1px;
}

.view-portion {
    margin-top: 20px;
    margin-left: 130%;
    width: 131px;
    height: 47px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.view-button {
    background-color: rgba(9, 103, 117, 0.847);
    margin: 0;
    border: none;
    font-size: 1.5em;
    border-radius: 6px;
    padding: 10px 20px;
}

.footer-div {
    background-color: #161616;
    width: 100%;
    padding: 80px 0px;

}

#footer-goal {
    color: white;
    text-align: center;
    font-size: 35px;
}


.footer-d-2 {
    display: flex;
    margin-left: 30%;

}

.footer-d-3 {
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.footerinfo {
    color: white;
}

#hr {
    width: 80%;
    text-align: center;
}

/* Second-page style */


#totalcont {
    padding-bottom: 130px;
}

.fixture-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 20px;
}

.total-flag-box {
    border: .5px solid gray;
    border-radius: 10px;
    height: 242px;
    width: 312px;
}

.flag-box {
    display: flex;
    height: 56px;
    width: 252px;
    margin-top: 53px;
    padding: 0 10px;
}

.flag-paragraph {
    padding: 0 22px;
}

.flag-info-box {
    text-align: center;

}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    color: white;
    font-size: 30px;
    padding: 20px;
}

.fa-twitter {
    color: white;
    font-size: 30px;
    padding: 20px;
}

.fa-instagram {
    color: white;
    font-size: 30px;
    padding: 20px;
}

/* Media   Queries */

/* Mobile */

@media only screen and (max-width:688px) {

    .font-page,
    .introduction {
        width: 344px;
        height: 472px;
        align-items: center;
        font-size: 100%;
        margin: 0;
        padding: 0;
    }

    .font-page {
        margin-left: -65px;
    }

    .font-page {
        margin-top: 30px;
    }

    #Front-heading {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }

    .paragraph {
        text-align: center;
    }

    .live {
        margin: 0 79px;
        border: none;
    }

    #player img {
        position: absolute;
        width: 233px;
        height: 245px;
        left: 100px;
        top: 224px;
    }

    .fixed-menu {
        background-color: white;
        position: absolute;
        width: 210px;
        height: 176px;
        top: 600px;
        align-items: center;
        margin-left: -25px;
    }

    .menu-button {
        width: 210px;
        height: 48px;
        left: 83px;
        top: 40px;
        padding: 0;
        display: block;
    }

    .menu-match {
        display: block;
        width: 100%;
    }

    .all-matches {
        display: block;
        flex-direction: column;
        margin-top: 400px;
    }

    .match {

        border: .2px solid rgb(223, 222, 222);
        width: 335px;
        height: 388.69px;
        justify-content: center;
        margin-left: -80px;
        margin-top: 10px;
    }

    .match img {
        width: 100%;
    }

    .view-portion {
        display: none;
    }

    .footer-div {
        height: 490px;
        padding-top: 5px;
    }

    #footer-goal {
        font-size: 22px;
    }

    .footer-d-2 {
        display: block;
        margin-left: 0;
        text-align: center;

    }

    .footer-d-3 {
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
}