/* font-import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.total-body {
    margin: 10px 90px;
}

#web-name {
    text-align: center;
    background-color: rgb(255, 254, 254);
    color: rgb(8, 93, 124);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: 20px;
    font-size: 30px;
}

.font-page {
    display: flex;
    width: 1321px;
    height: 646px;
    left: 140px;
    top: 100px;
    background: #161616;
    border-radius: 30px;

}

.introduction {
    position: absolute;
    width: 531px;
    height: 424px;
    padding-left: 106px;
    padding-top: 111px;
    padding-bottom: 111px;
    margin: 0;
}

#Front-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: white;
}

.paragraph {
    color: white;

}

#live-button {
    background-color: rgb(13, 53, 77);
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 20px 30px;
    border-radius: 5px;
    border-color: rgb(13, 53, 77);
}

.fa-play {
    padding-left: 5px;
}

#player {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 750px;
    top: 188.5px;
    padding: 0;
    margin: 0
}

#player img {
    height: 180%;
    width: 165.5%;
}

.page-2 {
    margin-top: 130px;

}

.menu-match {
    display: flex;
    padding: 0;
    margin: 0;

}

.fixed-menu {
    padding: 20px 30px;
    background-color: #161616;
    border-radius: 10px;
    height: 260px;
    width: 260px;


}

.menu-button {
    background-color: rgb(13, 53, 77);
    color: white;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin: 10px;
}

#selected-menu {
    background-color: rgba(193, 193, 128, 0.614);
}

.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 20px;
}

.match {
    border: .5px solid rgb(168, 167, 167);
    border-radius: 10px;
}

#Tr-button {
    height: 32px;
    width: 100px;
    border-radius: 10px;
}

.match-info {
    padding: 15px;
    max-width: 280px;
    max-height: 300px;
}

.info-2 {
    display: flex;

}

#hr-comment {
    color: gray;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
    margin: 1px;
}

.view-portion {
    margin-top: 20px;
    margin-left: 130%;
    width: 131px;
    height: 47px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.view-button {
    background-color: rgba(9, 103, 117, 0.847);
    margin: 0;
    border: none;
    font-size: 1.5em;
    border-radius: 6px;
    padding: 10px 20px;
}

.footer-div {
    background-color: #161616;
    width: 100%;
    padding: 50px 0px;

}

#footer-1 {
    color: white;
    text-align: center;
    font-size: 35px;
}


.footer-d-2 {
    display: flex;
    margin-left: 30%;

}

.footer-d-3 {
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.footerinfo {
    color: white;
}

#hr {
    width: 80%;
    text-align: center;
    color: gray;
    background-color: gray;
}